body {
    margin: 0 auto;
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#grid-section {

    background-repeat: no-repeat;
    background-position: top;
    background-size: 4%;
    padding-top: 130px;
}




#container-cadre {
    margin: 0 auto;
    display: grid;
    background: rgba(7, 27, 35, 0.705);
    -webkit-box-shadow: 23px 8px 255px 6px rgba(161, 0, 129, 1);
    -moz-box-shadow: 23px 8px 255px 6px rgba(161, 0, 129, 1);
    box-shadow: 23px 8px 255px 6px rgba(161, 0, 129, 1);
    border-radius: 25px 25px;
    height: 450px;
    width: 700px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 25% 60% 15%;
    text-align: center;
}


#corps {
    display: grid;
    margin: 0 auto;
}


#pics-top {
    grid-column: 2 / 3;
    padding-top: 15px;
}


.pics {
    position: relative;
    width: 14%;
    border-radius: 50px;
    -webkit-box-shadow: -6px 9px 300px 117px rgba(235, 30, 194, 0.36);
    -moz-box-shadow: -6px 9px 300px 117px rgba(235, 30, 194, 0.36);
    box-shadow: -6px 9px 300px 117px rgba(235, 30, 194, 0.36);
    
}


.pics:hover {
    width: 80%;
    -webkit-transition-delay: 1s;
    /* Safari */
    transition-delay: 0.3s;
    transition: width 0.2s, height 0.5s, transform 2s;
    -webkit-box-shadow: 2px 3px 63px 52px rgba(214,8,173,0.66);
    -moz-box-shadow: 2px 3px 63px 52px rgba(214,8,173,0.66);
    box-shadow: 2px 3px 63px 52px rgba(214,8,173,0.66);
}


hr {
    width: 100px;
    outline-color: red;
}


p {
    color: rgba(255, 255, 255, 0.625);
    letter-spacing: 2px;
    padding-bottom: 10px;
}


#infoperso {
    grid-row: 2 / 3;
    text-align: left;
    padding-left: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#infoperso p {

    color: rgba(255, 39, 219, 0.55);
}


#infoperso-right {
    margin-top: 10px;
    padding-left: 80px;
    font-size: 12px;
    grid-row: 2 / 3;
    text-align: left;
}


#infoperso-right p {
    margin-bottom: 15px;
    letter-spacing: 3px;
    
    }

#infoperso-right p:hover {
    margin-bottom: 15px;
    letter-spacing: 3px;
    color: rgba(255, 39, 219, 0.55);
    transition-delay: 0.3s;
    transition: width 0.2s, height 0.5s, transform 2s;
    filter: opacity(40%);

}


#infoperso-right a {
    text-decoration: none;
}


#flag {
    position: relative;
    width: 4%;
    grid-row: 2 / 3;
    border-radius: 2px;
    float: right;
    margin-right: 150px;
    margin-top: 15px;
}

#phone {
    display: inline-block;
}




nav {
    margin-top: 20px;
    margin-bottom: 10px;
    grid-column: 2 / 3;
    left: 70px;
}


button {
    border-radius: 5px;
}


a:hover {
    color: #d608ad;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: black;
}

a {
    color: rgba(0, 37, 51, 0.85);
    text-decoration: none;
}



#socialmedia {
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-top: 25px;
}


.icon {
    width: 5%;
    padding-right: 10px;
}

.icon:hover {
    width: 8%;
    padding-right: 10px;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 0.3s;
    transition: width 0.2s, height 0.5s, transform 2s;
    filter: brightness(140%);
}



/******* FOOTER ******/


footer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
    padding-top: 25px;
    justify-content: center;

}


footer p {
    margin-top:50px;;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.598);
}

#becodeimage {
    margin: 0 auto;
    padding-top: 70px;
    justify-content: center;
}

#becodeimage:hover {
    filter:drop-shadow(8px 8px 10px #d608ad);
    transition-delay: 0.3s;
    transition: width 2s, height 2s, transform 0.3s;
    transform: scale(1.01)
}
