#grid-section{
    margin: 0 auto;
    background: yellow;
    height: 960px;
    width:100%;
}

#container-cadre {
   
    left:25%;
    right:50%;
    display: grid;
    background-color: #B70000;
    height: 450px;
    width: 960px;
    grid-template-columns:  20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-gap: 2px;
    text-align: center;
}

#pics-top {
    grid-column: 2 / 3;
}

.pics {
    vertical-align: 50%;
    width: 15%;
    border-radius: 50%;
   
}